*
{
    font-family: 'Karla', sans-serif;
}

body
{
    background-color: rgb(37, 37, 37);
}

.grid
{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin: 0 auto;
    row-gap: 10px;
}

.square-grid
{
    display: grid;
    grid-template-columns: 84px 84px;
    row-gap: 0.5px;
}

.big-square
{
    height: 160px;
    width: 160px;
    padding: 10px;
}

.small-square
{
    border: 1px solid #363636;
    height: 80px;
    width: 80px;
    transition: border 0.3s;
}

.small-square:hover
{
    border: 1px solid #707070;

}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header
{
    text-align: center;
    margin-bottom: 10px;
}

.column
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 45%;
    padding-right: 45%;
    margin-top: 10px;
}

.row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#room-id
{
    color: rgb(173, 173, 139);
    font-weight: bold;
    font-size: large;
}

#game-title
{
    margin-bottom: 50px;
    font-size: xx-large;
}

span
{
    text-align: center;
    color: rgb(155, 155, 155);
}

input, button
{
    font-size: large;
}

input
{
    background-color: rgb(37, 37, 37);
    border:1px solid #999999;
    color: #919191;
}


.button 
{
	background-color:transparent;
	border:1px solid #999999;
	display:inline-block;
	cursor:pointer;
	color:#919191;
	font-family:Arial;
	font-size:17px;
	padding:10px 36px;
	text-decoration:none;
}

.button:active 
{
	position:relative;
	top:1px;
}

#spanA, #spanB, #spanC, #spanD, #spanE, #spanF, #spanG, #spanH, #spanI
{
    color: rgb(92, 92, 92);
}

#random-moves
{
    margin-top: 20px;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: white;
    width: 50px;
    transition: background-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#join-message
{
    font-size: large;
    font-weight: bold;
}

#logo
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 13px 13px;
    row-gap: 0.5px;
    justify-content: center;
}


#s1, #s2, #s3, #s4
{
    height: 10px;
    width: 10px;
    border: 1px solid #7c7c7c;
    transition: background-color 0.5s, color 0.5s;
}

#create-room
{
    transition: background-color 0.5s, color 0.5s;
}

#create-room:hover
{
    background-color: rgb(252, 79, 79);
    color: rgb(37, 37, 37);
}


#join-room
{
    transition: background-color 0.5s, color 0.5s;
}

#join-room:hover
{
    background-color: rgb(3, 83, 151);
    color: rgb(37, 37, 37);
}

#room-id
{
    width: 300px;
    text-align: center;
}

#reset-and-quit
{
    margin-top: 20px;
}